/* Error page styling */
.content {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.content-title-container {
    display: block;
    flex-grow: 1;
}

.content-desc-container {
    display: block;
    flex-grow: 3;
}

.content-title {
    width: 100%;
    height: 100%;

    font-family: var(--main-title-font);
    font-size: 4vw;
}

.content-desc {
    width: 100%;
    height: 100%;

    font-family: var(--main-text-font);
    font-size: 1.1vw;
}

.content-title-text {
    position: relative;
    display: inline-block;

    top: 50%; left: 50%;
    transform: translate(-50%, -0);
}

.content-desc-text {
    position: relative;
    display: inline-block;

    top: 0; left: 50%;
    transform: translate(-50%, 0);
}